:root {
	--back-0: rgb(24, 24, 26);
	--back-1: rgba(32, 31, 32, 0.8);
	--back-2: rgba(42, 40, 43, 0.7);
	--back-3: rgba(50, 50, 51, 0.6);
	--back-4: rgba(70, 69, 71, 0.5);

	--front-0: rgb(226, 224, 230);
	--front-1: rgb(185, 183, 189);
	--front-2: rgb(148, 147, 150);
	--front-3: rgb(129, 129, 129);
	--front-4: rgb(98, 96, 100);
}

@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

* {
	transition: all 100ms ease-out, width 0ms, height 0ms;

	&:active {
		transition: 20ms;
	}

	font-family: "Wix Madefor Text", sans-serif;
	font-size: 16px;
}

body {
	background-color: var(--back-0);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	overflow-y: clip;
	margin: 0;
}

#root {
	overflow: visible;
}

@mixin border($color, $width: 3px) {
	--border-opacity: 0.3;
	border: solid $width rgb(from $color r g b /var(--border-opacity));

	&:hover {
		--border-opacity: 0.4;
	}
}

.board {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	align-items: stretch;
	justify-items: stretch;

	& button {
		border-radius: 0;
	}
}

.big.board {
	gap: 20px;
	@media (max-width: 600px) {
		gap: 3vw;
	}

	--relative-size: 95vw;
	width: var(--relative-size);
	height: var(--relative-size);

	--size: 640px;
	max-width: var(--size);
	max-height: var(--size);

	border-radius: 24px;

	overflow: hidden;
	
	background-color: var(--back-1);
	background-image: linear-gradient(var(--back-2), var(--back-1));

	@include border(var(--front-3));

	--shadow-y: 3px;
	--shadow-blur: 20px;
	box-shadow: 0 var(--shadow-y) var(--shadow-blur) rgb(from var(--front-2) r g b /0.2);

	&:hover {
		--shadow-y: 5px;
		--shadow-blur: 25px;
	}

	&.disabled {
		pointer-events: none;
	}
}

.game-toolbar {
	margin-top: 3px;

	position: relative;

	display: flex;

	&>button {
		border-radius: 10px;
		z-index: 3;
		border: none;
	}

	&>span {
		text-align: center;
		color: var(--front-2);
		width: 100%;
		position: absolute;
	}
}

button {
	@include border(var(--front-0), 2px);
	background-color: var(--back-3);
	color: var(--front-1);
	padding: 3px 10px;
	border-radius: 8px;
	margin: 0px 0px;
	text-transform: capitalize;

	&:hover {
		color: var(--front-2);
	}

	&:active {
		color: var(--front-3);
		background-color: var(--back-2);
	}
}
.small.board {
	div:has(> &) {
		padding: 15px;

		@media (max-width: 600px) {
			padding: 2.5vw;
		}

		background-color: var(--back-2);

		display: flex;
		align-items: center;

		&:hover:has(* > button:not(.disabled):not(:disabled)) {
			background-color: var(--back-3);
		}
	}
	height: 100%;
	width: 100%;
	position: relative;
	background-color: var(--back-3);
	border-radius: 16px;
	box-sizing: border-box;
	overflow: hidden;

	gap: 10px;
	@media (max-width: 600px) {
		gap: 1.2vw;
	}

	@include border(var(--front-1));

	--shadow-y: 3px;
	--shadow-blur: 20px;
	box-shadow: 0 var(--shadow-y) var(--shadow-blur) rgb(from var(--front-2) r g b /0.1);

	&:hover:has(button:not(.disabled):not(:disabled)) {
		--shadow-y: 5px;
		--shadow-blur: 25px;
	}

	@mixin smallBoardWin($tick: none) {
		background: {
			color: rgb(from var(--back-2) r g b /0.5);
			image: $tick;
			size: 80%;
			position: center;
			repeat: no-repeat;
		}

		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
	}

	&.X::before {
		@include smallBoardWin(url("/src/assets/X.svg"));
	}

	&.O::before {
		@include smallBoardWin(url("/src/assets/O.svg"));
	}

	&.tie::before {
		@include smallBoardWin();
	}

	&>button {
		background-color: var(--back-4);
		border: none;
		box-sizing: border-box;
		padding: 5px;

		margin: 0;

		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			background-color: var(--front-3);
		}

		&:active {
			background-color: var(--front-4);
		}

		&>img {
			width: 100%;
			height: 100%;
			max-width: 32px;
			max-height: 32px;
			display: block;
			font-size: 0;
		}

		&.disabled {
			background-color: var(--back-3);
			pointer-events: none;
		}

		&:disabled {
			@extend .disabled;
		}
	}
}

.win-animation {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	overflow: hidden;

	backdrop-filter: blur(7px);

	opacity: 1;
	z-index: 10;

	&>img {
		width: var(--size);
		max-width: 150px;
		position: absolute;
		top: 0;
		left: 0;
		opacity: var(--opacity);
		transform:
			translateX(var(--x)) translateY(-50vh) rotate(var(--rotate));

		animation: {
			name: rainfall;
			duration: var(--length);
			timing-function: ease-in;
			iteration-count: 1;
		}
	}
}

@keyframes rainfall {
	0% {
		opacity: calc(var(--opacity) * 1);
		transform:
			translateX(var(--x)) translateY(-50vh) rotate(var(--rotate));
	}

	100% {
		opacity: calc(var(--opacity) * 0.5);
		transform:
			translateX(var(--x)) translateY(150vh) rotate(var(--rotate));
	}
}

.win-menu {
	position: absolute;

	z-index: 20;

	padding: 40px 60px;
	background-color: var(--back-1);
	border-radius: 24px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-sizing: border-box;

	@media (max-width: 600px) {
		width: 100vw;
		border-radius: 0;
	}

	animation: win-menu 0.3s ease-in-out;

	$font-size: 64px;

	& h1 {
		font-size: $font-size;
		color: var(--front-0);
		display: flex;
		margin: 20px;
	}

	& button {
		width: 150px;
		height: 50px;
		font-size: 18px;
		margin: 10px;
		font-weight: bold;
	}

	& img {
		display: block;
		font-size: 0;
		margin-right: 16px;
		width: $font-size;
	}
}

@keyframes win-menu {
	from {
		opacity: 0;
		transform: translateY(100px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}